/*///////////////////////////
/////       RESET       /////
///////////////////////////*/

*,
*::before,
*::after {
    box-sizing: border-box;
    font: inherit;
}

h1,
h2,
p {
    margin: 0;
}

/*/ //////////////////////////
///   CUSTOM PROPERTIES   ///
///////////////////////////*/

:root {
    --clr-primary-200: hsl(189, 41%, 97%);
    --clr-primary-300: hsl(185, 41%, 84%);
    --clr-primary-400: hsl(172, 67%, 45%);
    --clr-primary-500: hsl(184, 14%, 56%);
    --clr-primary-600: hsl(186, 14%, 43%);
    --clr-primary-700: hsl(183, 100%, 15%);
    --clr-neutral-400: hsl(0, 0%, 100%);
}

/*///////////////////////////
/////  UTILITY CLASSES  /////
///////////////////////////*/

.flex {
    display: flex;
    gap: var(--flex-gap, 1rem);
}

.flow-content > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
}

.bg-dark {
    background-color: var(--clr-primary-700);
    color: var(--clr-neutral-400);
}

.btn-green {
    background-color: var(--clr-primary-400);
    color: var(--clr-primary-700);
}

/*/ //////////////////////////
/////   GENERAL STYLES  /////
///////////////////////////*/

body {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0;
    padding-top: 1rem;
    background-color: var(--clr-primary-300);
}

.btn {
    font-size: 1.25rem;
    font-weight: 700;
    font-family: "Space Mono", monospace;
    border: 0;
    border-radius: 5px;
    padding: 0.35rem 1rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    --flex-gap: 0;
}

@media (min-width: 45rem) {
}

/*///////////////////////////
/////      MAIN APP     /////
///////////////////////////*/

.logo {
    display: block;
    padding: 2rem 0;
}

.calculator-app {
    background-color: var(--clr-neutral-400);
    border-radius: 1rem 1rem 0 0;
    padding: 1.25rem 1.75rem;
    padding-bottom: 2rem;
    flex-direction: column;
    --flex-gap: 2rem;
    width: 100%;
    max-width: 25rem;
}

@media (min-width: 45rem) {
    .calculator-app {
        flex-direction: row;
        max-width: 50rem;
        border-radius: 1rem;
        padding: 2.5rem;
        --flex-gap: 2.5rem;
    }
}

/*///////////////////////////
/////     INPUT BOX     /////
///////////////////////////*/

.app__input {
    width: 100%;
}

.input__title {
    font-size: 0.9rem;
    color: var(--clr-primary-500);
}

.input__box {
    display: block;
    border: 0;
    background-color: var(--clr-primary-200);
    padding: 0.25rem 1rem;
    width: 100%;
    border-radius: 5px;
    text-align: right;
    color: var(--clr-primary-700);
}

.input__box::placeholder {
    color: var(--clr-primary-400);
}

.input__container {
    position: relative;
}

.input__container::before {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
    width: 0.75rem;
    height: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.input__container--bill::before {
    background-image: url(/images/icon-dollar.svg);
}

.input__container--people::before {
    background-image: url(/images/icon-person.svg);
}

.input__people {
    --flow-space: 0.05rem;
    margin-top: 1.5rem;
}

.input__bill {
    --flow-space: 0.05rem;
}

.input__tip {
    --flow-space: 0.75rem;
    margin-top: 1.5rem;
}

.input__btns {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-top: 0.75rem;
}

.input__custom {
    color: var(--clr-primary-600);
    text-align: right;
}

@media (min-width: 45rem) {
    .app__input {
        width: 50%;
    }

    .input__btns {
        grid-template-columns: repeat(3, 1fr);
    }
}

/*///////////////////////////
/////     OUTPUT BOX    /////
///////////////////////////*/

.app__output {
    border-radius: 1rem;
    padding: 1.5rem;
    --flow-space: 1.75rem;
    padding-top: 2.5rem;
    width: 100%;
    flex-direction: column;
    --flex-gap: 0;
}

.output__tip,
.output__total {
    justify-content: center;
    align-items: center;
}

.output__title {
    font-size: 0.9rem;
    width: 100%;
    justify-content: space-between;
}

.output__title span {
    font-size: 0.8rem;
    display: block;
    color: var(--clr-primary-400);
}

.output__amount {
    color: var(--clr-primary-400);
}

.output__reset {
    text-transform: uppercase;
    width: 100%;
    font-size: 1.25rem;
    padding-block: 0.5rem;
}

@media (min-width: 45rem) {
    .app__output {
        padding: 2rem;
        justify-content: space-between;
        width: 50%;
    }

    .output__amount {
        font-size: 2.5rem;
    }
}
